<h3>Listado de Héroes</h3>
<h4 *ngIf="removedHero else nothingWasDeleted">
    Héroe borrado 
    <small class="text-danger">{{removedHero}}</small>
</h4>

<ng-template #nothingWasDeleted>
    <h4>No ha borrado nada</h4>
</ng-template>

<button 
    *ngIf="heroes.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
    Borrar último héroe
</button>
<ul class="mt-2 list-group">
    <li *ngFor="let hero of heroes" class="list-group-item">{{hero}}</li>
</ul>